<ng-container class="row" *ngFor="let i of [].constructor(9)"></ng-container>
  <div class="wrapper-overall col">
    <div class="centered-wrapper">
      <div class="container-wrapper">
        <div id="container">
          <div class="container-padding">
            <div class="widget-wrapper">
              <div class="widget-header">
                <div id="search" (click)="showInput = true;">
                  <fa-icon [icon]="faSearch" flip="horizontal" style="margin-top: 0.2rem; cursor:pointer;"
                    (click)="searchIconFunction()"></fa-icon>
                </div>
                <form #f="ngForm" name="signupForm">
                  <div id="town">
                    <div id="search-input-wrapper">
                      <div *ngIf="showInput">
                        <input type="text" [placeholder]="searchPlaceholder" class="town-input"
                          style="outline: none; border: none; text-decoration-line: underline; text-decoration-style: dashed; text-underline-position: under;"
                          autoFocus [(ngModel)]="formInput" pattern=".+,.+" #search2="ngModel" name="search" id="search"
                          (keydown)="onKeydown($event)">
                        
                        
                      </div>


                      <div *ngIf="!showInput" (click)="showInput = true;" class="town-default" style="cursor:pointer;">
                        <strong>{{ weatherState?.place }}</strong><span style="color: grey;">,
                          {{weatherState?.country}}</span>
                      </div>

                      <div id="search-invalid">
                        <span *ngIf="searchInputInvalid" style="font-size: 0.8rem; color: red;">
                          {{searchInputInvalidText}}
                          <!-- Please enter
                          'town<strong>,</strong> country'. Don't forget the comma. -->
                        </span>
                      </div>
                      

                      
                    </div>
                  </div>
                </form>
                <div id="spinner">
                  <fa-icon [icon]="faSync" [spin]="reloadSpinner" style="cursor: pointer;"
                    (click)="parseInput(formInput);"></fa-icon>
                </div>
              </div>
              <div class="main-content">
                <div id="image">
                  <img [src]="mainWeatherImg">
                </div>
                <div class="celsius-units">
                  <div class="celsius">
                    <p id="celsius-degrees">{{weatherState?.temp}}°</p>
                  </div>
                  <div class="fahrenheit">
                    <div id="celsius-letter"
                      [ngClass]="{'active-letter': letterCelsius, 'inactive-letter': !letterCelsius}"
                      (click)="units = 'metric'; getWeatherWithTimeout(weatherState.place,weatherState.country); letterCelsius = true;">C
                    </div>
                    <div id="fahrenheit-letter"
                      [ngClass]="{'active-letter': !letterCelsius, 'inactive-letter': letterCelsius}"
                      (click)="units = 'imperial'; getWeatherWithTimeout(weatherState.place,weatherState.country); letterCelsius = false;">F
                    </div>
                  </div>
                </div>
                <p id="celsius-wording">{{weatherState?.weatherDesc}}</p>
              </div>
              <div id="weather-details">
                <div id="wind">
                  <fa-icon [icon]="faWind" size="2x" id="wind-icon"></fa-icon>
                  <div class="wind-desc">
                    <span class="wind-speed">{{wind}}</span> <span class="wind-speed-desc"
                      *ngIf="units === 'metric'"> km/h</span>
                    <span class="wind-speed-desc" *ngIf="units === 'imperial'"> mph</span>
                  </div>
                </div>
                <div id="rain">
                  <fa-icon [icon]="faTint" size="2x" id="rain-icon"></fa-icon>
                  <div class="wind-desc rain-percent">{{weatherState?.humidity}}%
                  </div>
                </div>
                <div id="snow">
                  <fa-icon [icon]="faCloud" size="2x" id="wind-icon"></fa-icon>
                  <span class="wind-speed">{{weatherState?.clouds}}%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="oneday">
              <div class="day-name">{{weatherState?.futureForecasts[1].date}}</div>
              <div class="footer-details">
                <div class="oneday-secondrow">
                  <div class="oneday-icon">
                    <img [src]="onedayWeatherImg" class="max">
                  </div>
                  <div class="footer-temp">
                    <div class="highesttemp">{{weatherState?.futureForecasts[1].maxTemp}}°</div>
                    <div class="lowesttemp">{{weatherState?.futureForecasts[1].minTemp}}°</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="oneday">
              <div class="day-name">{{weatherState?.futureForecasts[2].date}}</div>
              <div class="oneday-secondrow">
                <div class="oneday-icon">
                  <img [src]="twodayWeatherImg" class="max">
                </div>
                <div class="footer-temp">
                  <div class="highesttemp">{{weatherState?.futureForecasts[2].maxTemp}}°</div>
                  <div class="lowesttemp">{{weatherState?.futureForecasts[2].minTemp}}°</div>
                </div>
              </div>
            </div>
            <div class="oneday" id="oneday-three">
              <div class="day-name">{{weatherState?.futureForecasts[3].date}}</div>
              <div class="oneday-secondrow">
                <div class="oneday-icon">
                  <img [src]="threedayWeatherImg" class="max">
                </div>
                <div class="footer-temp">
                  <div class="highesttemp">{{weatherState?.futureForecasts[3].maxTemp}}°</div>
                  <div class="lowesttemp">{{weatherState?.futureForecasts[3].minTemp}}°</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>